<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Bootstrap for My Proj</title>
    <!-- Required meta tags -->
    <meta charset="utf-8"> </meta>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
      </meta>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">

  </link>
    <!-- Particular project CSS -->
	<link rel="stylesheet" type="text/css" href="css/xdMWoR.css">
  </link>

	</head>
  <body>

    <!-- jQuery first, then Tether, then Bootstrap JS. -->
    <script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>
		

<div class="container">
  <div class="row">
    
    <div class="col-md">
	<h2>Word Counter</h2>
      </div>
    </div>

  <div class="row">
    <div class="col-md-1">
	      <div class="row justify-content-center">
        <p class="tag">Maven</p>
      </div>
    </div>
    
    <div class="col-md-4">
	<div class="row justify-content-center">
        <p class="tag">Spring v4: MVC, REST WS</p>
      </div>
    </div>
    <div class="col-md-4">
	      <div class="row justify-content-center">
        <p class="tag">Java 8 Lamdas, Multi Threading</p>
      </div>
    </div>
	<div class="col-md-3">
	      <div class="row justify-content-center">
        <p class="tag">Bootstrap v4, JQuery, AJAX</p>
		<a href="http://www.stopsweats.org">Bootstrap v4</a>
      </div>
    </div>
    <div class="col-md-4">
	      <div class="row justify-content-center">
        <p class="tag">Docker, Docker Compose</p>
      </div>
	</div>  
  </div>
  

  
  <div class="row">
      <div class="col-md-4">
      <div class="row justify-content-center"><div class="box shadow">1 of 3 Step - Select files and Upload,2 of 3 Step - Run Word Counter,3 of 3 Step - Display Results</div></div>
    </div>
      <div class="col-md-4">
      <div class="row justify-content-center">
        <div class="card shadow-nohover">
          <div class="card-header"><h5 class="card-title">Uploaded Files</h5></div>
          <div class="card-block"><p class="card-text">kvm.txt</p></div>
          <div class="card-block"><p class="card-text">test.txt</p></div>
          <div class="card-block"><p class="card-text">test.txt</p></div>
          <div class="card-block"><p class="card-text">test.txt</p></div>
          
        </div>
      </div>
    </div>
	 <div class="col-md-4">
      <div class="row justify-content-center">
        <div class="card shadow-nohover">
          <div class="card-header"><h5 class="card-title">Word Statistical Data (TOP20)</h5></div>
          <div class="card-block"><p class="card-text">kvm.txt</p></div>
          <div class="card-block"><p class="card-text">test.txt</p></div>
          <div class="card-block justify-content-between">
			<p class="card-text badge badge-pill">reeed.txt</p>
			<span class="badge badge-default badge-pill">14</span>
		  </div>
          <div class="card-block justify-content-between">
			<p class="card-text badge badge-pill">reeeeeeeeeeeeed.txt</p>
			<span class="badge badge-default badge-pill">14</span>
		  </div>
          <div class="card-block justify-content-between">
			<p class="card-text badge ">abracadabra6546546754.txt</p>
			<span class="badge badge-default badge-pill">14</span>
		  </div>
        </div>
      </div>
    </div>

  </div>
  
  <div class="row">

      <div class="col-md-4">
      <div class="row justify-content-center">Uploaded Files used for Word Counter</div>
    </div>
	      <div class="col-md-4">
      <div class="row justify-content-center">Word Statistics</div>
    </div>
  </div>

  <div class="row">


  <div class="col-md-4 shadow-nohover">
  <ul class="list-group">
  <li class="list-group-item">Cras justo odio</li>
  <li class="list-group-item">Dapibus ac facilisis in</li>
  <li class="list-group-item">Morbi leo risus</li>
  <li class="list-group-item">Porta ac consectetur ac</li>
  <li class="list-group-item">Vestibulum at eros</li>
</ul>


  </div>

    <div class="col-md-4">
  <ul class="list-group">
  <li class="list-group-item justify-content-between">
    Cras justo odio
    <span class="badge badge-default badge-pill">14</span>
  </li>
  <li class="list-group-item justify-content-between">
    Dapibus ac facilisis in
    <span class="badge badge-default badge-pill">2</span>
  </li>
  <li class="list-group-item justify-content-between">
    Morbi leo risus
    <span class="badge badge-default badge-pill">1</span>
  </li>
  </ul>
  </div>
  
  </div>
  
  </div>
  
  <div class="row">
  <table>
  <thead>
    <tr class="d-flex">
      <th class="col-3">3 columns wide header</th>
      <th class="col-sm-5">5 columns wide header</th>
      <th class="col-sm-4">4 columns wide header</th>
    </tr>
  </thead>
  <tbody>
    <tr class="d-flex">
      <th class="col-3">3 columns wide content</th>
      <th class="col-sm-5">5 columns wide content</th>
      <th class="col-sm-4">4 columns wide content</th>
    </tr>
  </tbody>
</table>







  </div>
  
  <div>
<ul class="list-group">
  <li class="list-group-item">Cras justo odio</li>
  <li class="list-group-item">Dapibus ac facilisis in</li>
  <li class="list-group-item">Morbi leo risus</li>
  <li class="list-group-item">Porta ac consectetur ac</li>
  <li class="list-group-item">Vestibulum at eros</li>
</ul>
</div>

  
  <div>
    <table class="table table-bordered">

	<thead>
     <tr>
           <th class="w-25">25</th>
           <th class="w-50">50</th>
           <th class="w-25">25</th>
     </tr>
</thead>
    <tbody>
        <tr>
            <td>123</td>
            <td>456</td>
            <td>789</td>
        </tr>
    </tbody>
</table>

  
</div>

<div style="outline: 1px solid orange;">
    <table class="table table-bordered">


<thead>
        <tr class="row">
            <th class="col-sm-3">3 columns wide</th>
            <th class="col-sm-5">5 columns wide</th>
            <th class="col-sm-4">4 columns wide</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>123</td>
            <td>456</td>
            <td>789</td>
        </tr>
    </tbody>
</table>

</div>


</body>

</html>



